/* * * * common * * * */
html {
  background-color: #e0e0e0;
}

body {
  font-size: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  color: #808;
  text-decoration: none;
}
a:hover {
  color: #c28;
  background-color: #808;
}

#header, #content {
  width: 40em;
  margin: 0 auto;
  background: #eee;
  padding: 0 2em;
  font-size: 1em;
}

#header {
  background: white;
}

#header strong {
  font-weight: bold;
}

#crumbtrail {
  font-size: 150%;
  font-weight: bold;
}

#search {
  padding: .25em;
  text-align: right;
  position: relative;
  bottom: 3em;
  float: right;
}

#q {
  font-family: Monaco, Deja Vu Sans Mono, Inconsolata, Consolas, monospace;
}

#profile {
}

#profile #logout {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1em;
  background-color: #fff;
  color: #808;
  font-weight: bold;
  cursor: pointer;
}

#profile #logout:hover {
  color: #c28;
  background-color: #808;
}

#content {
  padding-top: 1em;
  padding-bottom: 2em;
}

#content strong {
  font-weight: bold;
}

#content em {
  font-style: italic;
}

#content h1 {
  font-weight: normal;
  font-size: 300%;
  color: #444;
  margin-bottom: .25em;
}

#content h2 {
  color: #444;
  font-size: 150%;
  border-bottom: 1px solid #888;
  margin: .25em 0;
}

#content p, #content dl, #content ul, #content label.radio-button {
  font-size: 125%;
  color: #888;
}

#content label.radio-button {
  font-weight: bold;
}

#content dt {
  font-weight: bold;
}

#content dd {
  margin-left: 1em;
}

#content p {
  margin-bottom: 1em;
}

#content pre {
  font-size: 1.5em;
  margin-bottom: 1em;
  padding: .5em;
  background-color: #333;
  color: #0f0;
}

/* * * * list * * * */
.list {
  border-top: 1px solid #888;
  margin: 1em 0 2em;
}
.list li {
  border-bottom: 1px solid #888;
}
.list li a {
  display: block;
  font-size: 175%;
  font-weight: bold;
  line-height: 1.2;
  padding: 0.25em;
}
.list li a .summary {
  color: #888;
  font-size: 0.5em;
  font-weight: normal;
}
/* * * * releases * * * */
#releases {
  border-top: 1px solid #888;
  margin: 1em 0 2em;
}
#releases li {
  border-bottom: 1px solid #888;
}
#releases h3 {
  font-size: 1.5em;
}
#releases p {
  font-size: 1em;
  margin-bottom: .5em;
}

/* * * * form * * * */
.form {
  padding: .25em;
  margin: .25em 0;
  width: auto;
}
.form label {
  color: #888;
  display: block;
  clear: left;
}
.form label span {
  display: block;
  width: 8em;
  line-height: 200%;
  float: left;
}
.form input,
.form textarea,
.form select {
  color: #444;
  font-size: 150%;
  font-family: Monaco, Deja Vu Sans Mono, Inconsolata, Consolas, monospace;
}
.form input[type=text],
.form textarea {
  width: 12em;
}
.full input[type=text],
.full textarea,
.full select {
  width: 100%;
}
.form-footer {
  border-top: 2px solid #888;
  font-size: 150%;
  padding: .25em;
  text-align: right;
  margin: 0;
}
/* * * * fieldsets * * * */
/*
.form h2 {
  color: #888;
  font-size: 150%;
  border-bottom: 1px solid #888;
}
*/
.container {
  margin-top: .25em;
  padding-top: .25em;
}
.fieldset {
  clear: both;
  margin-top: .5em;
}
.remove {
  float: right;
  font-size: 200%;
  color: #888;
  text-decoration: none;
}
.remove:hover {
  color: #800080;
  background-color: transparent;
}
.append-wrapper {
  text-align: center;
}
.append {
  display: inline-block;
  color: #800080;
  text-decoration: none;
  background-color: #eee;
  padding: .25em .5em;
  margin-top: .5em;
  margin-bottom: 1px;
  text-align: center;
}
.append:hover {
  background: url(overlay-button.png) repeat-x;
  background-color: #c28;
  margin-bottom: 0;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

/* * * * maintainers-autocomplete * * * */
#maintainers-autocomplete {
  display: none;
  position: absolute;
  background-color: #eee;
  padding: .25em;
}
#maintainers-autocomplete ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#maintainers-autocomplete li {
  color: #888;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#maintainers-autocomplete li.selected {
  color: #000;
  background-color: #E0ECFF;
}

/* * * * tooltip * * * */
#tooltip {
  display: none;
  position: absolute;
  padding: .25em;
  color: #fff;
  font-size: 1em;
  background: rgba(0, 0, 0, 0.6); /* todo: this doesn't work in ie */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  max-width: 39em;
}
#tooltip h3 {
  font-size: 1.5em;
}
#tooltip p {
  color: #fff;
  margin: 0;
}


/* * * * zurb awesome-button * * * */

.form-footer input, #search .submit, #openid .submit {
  background: url(overlay-button.png) repeat-x;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  border: 0;
  padding: .25em .5em;
  background-color: #808;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
}
.form-footer input:hover, #search .submit:hover, #openid .submit:hover {
  background-color: #c28;
  color: #fff;
}

.form-footer input.warning {
  background-color: #800;
}
.form-footer input.warning:hover {
  background-color: #c00;
}

#openid input {
  color: #444;
  font-size: 150%;
  font-family: Monaco, Deja Vu Sans Mono, Inconsolata, Consolas, monospace;
}
#openid label {
  color: #888;
}
